body{
    padding: 0px;
    font-family:sans-serif;
}

.lista-icons{
    margin-left:20%;
}
    
.imagen-logo{
    position: absolute;
    width: 200px;
    height: 150px;
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .lista-icons{
    margin-left: 20%;
}
}
.titulo{
    padding: 30px;
    font-size: 67px; 
    color: white;
    padding-top:13%;
}
.lista1{
    display: flex;
    background-color:rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.lista1 li{
    font-size: 17px;
    font-style: normal;
    float: left;
    display: block;
    color:white;
    padding: 5px 15px;
}
.lista2 li{
    padding: 5px 15px;
    float: right;
    text-decoration: none;
    display: block;
    color:white;
    font-size: 17px;

}
.search-container{
    display: flex;
    padding-top: 20px;
    margin-right: 10px;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
}

.lista3{
    background-color:rgba(0, 0, 0, 0.5);   
    width: auto;
    float: center;
    display: flex;
}

.lista3 li{ 
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 5px 15px;
    font-size: 17px;
    border: 2px solid rgb(201, 201, 201);
}
.lista3 li:hover{
    background-color:rgb(10, 200, 243);
}

.vermas{
    margin-bottom: 40%;
    float: right;
    color: white;
    padding-right: 40px;
    font-size: 20px; 
    display: flex;
}

.container{
    background: url(img/puertoSA.jpg) no-repeat center center fixed;
    background-attachment: scroll;
    background-size: cover;
}
.ndnav{
    display: flex;
}

.ndnav p{
    display: flex;
}

.ndnav li{
    color:rgb(10, 200, 243);
    font-weight: bold; 
    font-size: 60px;
    display: inline; 
    list-style: none; 
}

.parrafo4{ 
    text-align: center;
    display: inline-flex;
    margin: auto;
    position: relative;
    }    

.imgsos{
    text-align: center;
    display: inline-flex;
    margin: auto;
    position: relative;
}

.sostenibilidad{
    background: url(img/atardecer2.jpg) no-repeat center center fixed ;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    padding: 12px;
    text-align: center;
}
.destacamos{
    background-color:rgb(235, 235, 235); 
    padding: 20px;
}
.d2{
   display: flex;
   margin: auto;
}

.img-puertoSA{
margin-left:40px;
padding:0px ;
}

.texto-d3{
margin-left:30px;
}

.d3{
    background-color: white;
    margin-left:0px;
    margin-right:0px;
}

.transparencia{
    background-color: white;
    padding: 40px;
    display: flex;
}
.t2{
    float:left;
}

.t3{
float: right;
margin-left:10%;
}

.links> a{
color:rgb(10, 200, 243);
text-decoration: none;
float:right;
}

.tra-1{
float:right;
}

.rrss{
float:right;
margin-left:10%;
}

.r2{
display: flex;
margin:auto;
}

.r3{
padding-left: 20px;
margin-right: 30px;
background-color: white;
}

.titulo-prensa{
display: flex;
font-size: 30px;
font-weight: bold;
padding: 20px 20px;
}

.vermas-noticias{
float: right;
font-size:13px;
padding-left:70px;
}

.sig{
float: right;
margin-top:10px;
margin-right:40px;
}

.facts-row{
position: relative;
min-height:100vh;
}

.facts__bg {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
z-index: 0;
}

.facts-row .container {
position: relative;
display: flex;
flex-direction: column;
padding-top: 4rem;
padding-bottom: 4rem;
min-height: 100vh;
}

.facts-row__title {
margin-bottom: 4rem;
text-align: center;
}

.facts {
display: flex;
flex-wrap: wrap;
margin-top: auto;
margin-left: 140px;
}

.fact {
display: grid;
grid-template-columns: 70px auto;
grid-template-rows: auto auto;
column-gap: 1rem;
flex: 33%;
max-width: 33%;
margin-bottom: 8rem;
}

.fact__icon {
grid-column: 1/2;
grid-row: 1/-1;
height: 70px;
float: center;
align-items: center;
}

.fact__label {
    grid-column: 2/3;
}

.fact__label {
    text-transform: uppercase;
}

.fact__number {
    font-size: 3rem;
}

.footer{
    grid-area: footer;
    background-color: #000000;
    min-height: 100px;
    column-gap: none;
    row-gap:none;
    display:center; 
}

.footer ul{
    display: inline-table;
    padding:80px;
}

.nc{
    background-color:dark;
    text-align: center;
}

.responsive{
    width:100%;
    height: auto;   
}

.responsive1{
    width: 100%;
    height: auto;
    padding:0px;
    margin: 0px;
}
